
body{
    font-weight: 600;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(113, 109, 104);
    box-sizing: border-box ;
    background-color: #f6f6f6;
}

.login-div{
 width: 430px;
 padding: 60px 35px 35px 35px ;
background-color: rgb(220, 228, 235);
height: 500px;
border-radius: 3%;
box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffff;
}

.svg-icon{
    height: 22px;
    width: 20px;
    margin: 0 10px 0 25px;
    
}
.logo{
    background: url(./logo.jpg);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #afaaf7, 8px 8px -15px #ffff;
}
.title{
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 10px;
    margin-bottom: 1rem;

}
 .fields input{
    border: none;
    background: none;
    font-size: 18px;
    padding: 20px 10px 20px 5px;
    outline: none;

 }
 .username, .password{
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow:inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
 }
 .signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;
    transition: all 0.5s;
}
.signin-button:hover {
    background-color: #50e5b9;
}
.link{
    text-decoration: none;
    color: #5f5f5f;
    font-size: 15px;
    text-align: center;
    margin-top: 2rem;
}
.link a{
    text-decoration: none;
    color: rgb(19, 16, 16);
    font-size: 15px;
}
.signin-status{
    display:  inline-block;
    margin-top: 8px;
    color: green;
}
.password-msg , .username-msg{
    color: red;
     
 }